* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 250px;
  height: 400px;
  margin: 30px auto;
}

.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(66, 66, 66, 0.596);
}

.card-head {
  position: relative;
  height: 200px;
  background:aquamarine;
  background-position: center;
  background-size: cover;
  border-radius: 25px 25px 0 0;
  text-align: center;
}

.avatar {
  padding: 35px 0;
  border-radius: 50%;
  max-width: 128px;
  transform: scale(0.95);
  transition: all 0.5s;
  cursor: pointer;
}
.avatar:hover {
  transform: scale(1);
  box-shadow: 0 5px 10px -12.125px rgba(0, 0, 0, 0.2);
}
.card-body {
  height: 200px;
  background: rgba(255, 255, 255, 0.664);
  border-radius: 0 0 25px 25px;
}

.Student-name {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.Student-name b {
  font-weight: 700;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: rgb(118, 243, 201);
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.username {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #4d4c4c;
}

.Student-description p {
  margin: 10px 20px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  color: #353535;
}
.student-links {
  list-style: none;
  display: flex;
  justify-content: center;
}
.student-links li {
  margin: 15px 5px;
}
